body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 450px;
  background: #fff;
  margin: 10px;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  font-size: 16px;

}

.button-container {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  display: block;
  margin: auto;
}